@font-face {
    font-family: "Inter";
    src:url(https://fonts.google.com/specimen/Inter) format("truetype");
}
body{
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 100%); 
    font-family:'Inter';
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    padding: 20px;
    width: 30%;
    border-radius: 50%;
}
span{
    font-weight: bold;
    font-family:'Inter';

}
h4{
    font-weight: bold;
    color: hsl(75, 94%, 57%);
}
.container{
    display: block;
    background-color: hsl(0, 0%, 12%);
    text-align: center;
    width: 70%;
    padding: 20px;
    margin-top: 2%;
    border-radius: 10px;
}

.social-links {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-links a {
    display: block;

    font-weight: 400px;
    width: 200px;
    padding: 10px;
    margin: 15px;
    text-align: center;
    text-decoration: none;
    background-color: hsl(0, 0%, 20%);
    border-radius: 5px;
    border-width: 15px;
    color: hsl(0, 0%, 100%);
}

.social-links a:hover {
    color: hsl(0, 0%, 8%);
    background-color: hsl(75, 94%, 57%);
}
